@import 'scrollbar';
@import 'palette';
@import 'lens';
@import 'fonts';
@import 'animatedBorder';

body {
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 14px;
  overflow: auto;
  #app, .app-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $accent-1;
    .details-card{
      padding: 20px;
      border: 2px solid #fff;
      border-radius: 10px;
      color: #fff;
      font-weight: 500;
      background-color: rgba(255,255,255,0.3);
      line-height: 20px;
      transition: all 0.5s;
      min-width: 320px;
      .close-icon{
        font-weight: 700;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
        transition: all 0.25s;
      }
      div{
        position: relative;
       span{
         min-width: 75px;
         display: inline-block;
       }
      }
      .id{
        margin-bottom: 80px;
        position: relative;
        font-weight: 700;
        span{
          position: absolute;
          font-size: 75px;
          color: rgba(255,255,255,0.2);
          top: 10px;
        }
        div{
          top: 10px;
          left: 75px;
          position: absolute;
        }
      }
    }
    .search-ctr{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    h1{
      color: #fff;
      margin: 0;
    }
    h2{
      color: #fff;
      margin: 5px 0 50px;
      font-size: 15px;
      width: 250px;
      text-align: center;
      font-weight: 500;
    }
    & > div {
      animation: 0.5s none 0s 1 animateView;
      position: relative;
    }
  }
}

@keyframes animateView {
  0% {
    opacity: 0.5;
    left: -10px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}
